.sidebar {
  border-right: 1px solid;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

#search {
  width: 100%;
  display: block;
  padding: 5px;
  border: 1px solid #CCC;
  border-radius: 3px;
}

#bookmarks {
  margin-top: 12px;
}

#bookmarks > ul > li {
  border-bottom: 1px solid #ccc;
  padding:3px;
}
#bookmarks > ul > li {
  overflow: hidden;/*
  text-overflow: ellipsis;
  white-space: nowrap;*/
}

#bookmarks > ul > li .title {
  display: block;
  margin: 8px 0px;
  font-weight: bold;
  font-size: 1.1em;
}

.imageWrapper img {
  width:100%;
}

.highlight {
  background-color: #f8fbb3
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.tags {
  margin-left: 10px;
  white-space: normal;
  margin-top: 4px;
}

.tags li {
   display: inline-block;
   color: white;
   background-color: #0c78ea;
   /*margin:2px 9px 2px 2px;*/
   margin:1px;
   height:20px;
   position:relative;
   cursor: pointer;
}

.tags li.editTags {
  display: none;
}

.panel:hover .tags li.editTags  {
  display: inline-block;
}

/*.tags li:before {
    content: ' ';
    border: 10px solid transparent;
    border-right-color: #0c78ea;
    display:block;
    position: absolute;
    left:-20px;
}*/

.panel {
  width: 200px;
  padding: 5px;
}

#masonry h3 {
font-size:18px;
}

.panel input {
    display: none;
    width: 100%;
}

.panel .tags li span.delTag {
  display: none;
}

.panel.editing input {
    display: block;
}

.panel.editing li span.delTag {
    display: inline;
    cursor: pointer;
}
.panel.editing li {
    cursor: default;
}
.tags .highlight {
  color: #555;
}

.remove {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #0c78ea;
  color: #FFF;
  display: inline-block;
  width: 20px;
  text-align: center;
  height: 21px;
  visibility: hidden;
  cursor: pointer;
}

.panel:hover, .panel:focus {
  outline: -webkit-focus-ring-color auto 0px;
  box-shadow: inset 0px 0px 0px 2px #0c78ea;
  border-radius:0px;
  background-color: #fdfbda;
}

.panel:hover .remove, .panel:focus .remove {
  visibility: visible;
}

.panel:hover .remove:hover, .panel:focus .remove:hover {
  background-color: red;
}